* {
  box-sizing: border-box;
}



body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
  font-family: 'Slabo 27px', serif;
}

#map {
  /* height: 50%;
  width: 100vw; */
  flex: 8;
}

nav li {
  display: inline;
}

#header {
  /* background: linear-gradient(#dfdfe2, #a0a0a0); */
  background-color: rgba(206, 206, 206, 0.8);
  height: 50px;
  padding: 10px 0 50px 0;
  margin: 0;
  opacity: 1;
  display: flex;
}

header {
  padding: 0
}

h1 {
  margin: 0 0 0 20px;
  background-color: transparent;
}

h2 {
  margin: 0;
}

nav li a{
  text-decoration: none;
  color: black;
}

.row-container {
  display: flex;
  /* justify-content: flex-end; */
}

.column-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 2;
  background: linear-gradient( #a0a0a0, #dfdfe2);
  justify-content: space-between;
}

ul {
  list-style-type: none;
  margin: 0 0 10px -40px;
}

.add-button {
  /* background-color: #3c4ba6;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  padding: 0 4px 2px 4px; */
  height: 30px;

}


/* .remove-button {
  background-color: #8b0808;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  padding: 0 4px 2px 4px;
} */

#itinerary {
  margin-top: 10px;
  flex: 0 1 auto
}

select {
  /* background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0; */
  height: 29px;
  overflow: hidden;
  width: 240px;
  background-color: #76cff0;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0;
}

#clearDiv{
  padding: 0 50px;
  background-color: black
}

/* #options {
  background-color: #dfdfe2;
  margin: 0;
  padding: 0;
} */
